<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>First Steps to Financial Independence</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/skeleton.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/static/images/favicon.ico">
  <script src="/static/js/script.js"></script>

</head>

<body>
  <div class="topnav">
    <a class="active" href="#home">Home</a>
    <a href="first_steps">First Steps</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
  </div>
  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <section class="Intro" class="Intro u-full-width">
    <div class="container">
      <div class="columns">
        <div id="title_container">
          <img src="/static/images/logo.png" alt="First Steps to Financial Independence" width="170" height="170">
          <div id="title">
            <div id="page1">
              <h1>First Steps to Financial Independence</h1>
            </div>
          </div>
        </div>
        {% block content %}{% endblock %}
      </div>
    </div>
  </section>
  <section class="footer u-full-width">
    <div class="container">
      <div class="row">
        <div class="twelve columns">
          <h7>&copy LisouZeboss Inc</h7>
        </div>
      </div>
    </div>
  </section>

  <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>

</html>
